.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #a9a9fd, #c7e5f6);
  font-family: Delius, "Comic Sans MS", cursive, sans-serif;
}

.page::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-image: url("/pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.25;
  pointer-events: none;
}

.card {
  position: relative;
  width: 420px;
  padding: 25px;
  border-radius: 25px;
  background-color: #d9d9ff;
  box-shadow: 0 10px 30px rgba(160, 117, 252, 0.45);
  text-align: center;
  border: 3px solid #b7b7f5;
}

.title {
  font-size: 45px;
  margin-bottom: 10px;
  color: #908eff;
  font-weight: bold;
}

.stars {
  margin-bottom: 15px;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  background-color: #8db2fd;
  color: white;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(78, 129, 232, 0.3);
  transition: 0.2s;
}

.button:hover {
  transform: translateY(-2px);
}

.button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.reviewBox {
  padding: 18px;
  border-radius: 15px;
  background-color: #efeffd;
  border: 2px solid #c6c6fc;
  margin-bottom: 20px;
  min-height: 80px;
  color: #444;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.starButton {
  flex: 1;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #c6c6fc;
  cursor: pointer;
  font-weight: bold;
  background-color: #efeffd;
  transition: 0.2s;
}

.starButton:hover {
  transform: scale(1.05);
}

.starButton.selected {
  background-color: #d6f0ff;
  transform: scale(1.1);
}

.starIcon {
  opacity: 0.75;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.result {
  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;
  background-color: #efeffd;
  border: 2px solid #c6c6fc;
  color: #444;
}

.score {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #908eff;
}